<div class="pure-g breadcrumb">
    <div class="pure-u-1-3 left"><a href="{{ .Params.prevt | relLangURL }}"> <span class="arrow-left" title="{{ .Params.btnPrev }}"></span></a><a href="{{ .Params.prevt | relLangURL }}" class="no-mobile">{{ .Params.btnPrev }}</a></div>
    <div class="pure-u-1-3 center"></div>
    <div class="pure-u-1-3 right"><a href="{{ .Params.next | relLangURL }}" class="no-mobile">{{ .Params.btnNext }}</a><a href="{{ .Params.next | relLangURL }}"> <span class="arrow-right" title="{{ .Params.btnNext }}"></span></a></div>
</div>