<nav class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">
            <img src="/img/logo-meis.svg" alt="MEIS" class="logo-meis"></a>

        {{ if .IsTranslated }}
        <ul class="pure-menu-list lingue">
            <li class="pure-menu-item active">{{ .Language.Lang }}</li>
            {{ range .Translations }}
            <li class="pure-menu-item">
                <a href="{{ .Permalink }}">{{ .Lang }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</nav>
