{{ define "main" }}
{{ partial "logo.html" . }}
<div class="content-wrapper">


    <div class="content">
        {{ .Content }}
    </div>
    <div class="content-center">
        <a href="{{ "introduzione" | relLangURL }}" class="pure-button">{{ T "Inizia_la_visita"}}</a>
    </div>
    <div class="content">
        <img class="pure-img" src="img/mappa.jpg" alt="Mappa di Ferrara e principali eventi">
    </div>

    <div class="content-center">
        <a href="{{ "introduzione" | relLangURL }}" class="pure-button pure-button-primary">{{ T "Inizia_la_visita"}}</a>
    </div>


</div>
{{ end }}